@font-face {
  font-family: "Pretendo";
  src:
    url("fonts/pretendo.woff2") format("woff2"),
    url("fonts/pretendo.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src:
    url("fonts/press-start-2p.woff2") format("woff2"),
    url("fonts/press-start-2p.woff") format("woff");
  font-display: swap;
}

body {
  background: #E5393F;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

nes-controller {
  position: absolute;
  transform: translate(0, -100px);
}
